@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@font-face {
  font-family: 'HeyWow';
  src: url('src/assets/fonts/HeyWowBook.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'HeyWow';
  src: url('src/assets/fonts/HeyWowSemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'HeyWow';
  src: url('src/assets/fonts/HeyWowBold.ttf') format('truetype');
  font-weight: 700;
}

@layer base {
  :root {
    --white: 0 0% 100%;
    --background: 99.22, 98.04%, 96.08%;
    --cool-horizon: 213 65.3% 66.1%
  }
}