---
import Layout from '../layouts/Layout.astro';
import './globals.css'
import MainNav from "../components/molecules/MainNav.astro";
---

<Layout title="Node bootcamp">
	<main>
		<MainNav/>
	</main>
</Layout>


