---
import Logo from "../atoms/Logo.astro";
import Button from "../atoms/Button.astro";
---

<nav id="main-nav" aria-hidden="true" class="flex justify-between text-white">
    <Logo width="87" height="30" />
    <ul class="flex items-center gap-10">
        <li>
            <a data-slug="bootcamp" data-test="data" href="/">Bootcamp</a>
        </li>
        <li>
            <a data-slug="b2b-courses" data-test="data" href="/">B2B Courses</a>
        </li>
        <li>
            <a data-slug="contact" data-test="data" href="/">Contact</a>
        </li>
        <li>
            <Button type="button">Apply now</Button>
        </li>
    </ul>
</nav>
