---
import Logo from "../atoms/Logo.astro";
---

<nav id="main-nav" aria-hidden="true" class="">
    <Logo />
    <ul>
        <li>
            <a data-slug="bootcamp" data-test="data" href="/">Bootcamp</a>
        </li><li>
            <a data-slug="b2b-courses" data-test="data" href="/">B2B Courses</a>
        </li><li>
            <a data-slug="contact" data-test="data" href="/">Contact</a>
        </li><li>
            <a data-slug="apply" data-test="data" href="/"></a>
        </li>
    </ul>
</nav>
