---
import WrLogo from "../atoms/icons/WrLogo.astro";
import Linkedin from "../atoms/icons/Linkedin.astro";
import Youtube from "../atoms/icons/Youtube.astro";
---

<footer>
  <a href="https://waaark.com/"><WrLogo width="44" height="16"/></a>
    <Linkedin width="44" height="16"/>
    <a><Youtube widtth="60" height="30"/></a>
</footer>
