---
import WrLogo from "../atoms/icons/WrLogo.astro";
import Linkedin from "../atoms/icons/Linkedin.astro";
import Youtube from "../atoms/icons/Youtube.astro";
---

<footer class="py-[18px] border-[3px] text-primary-black border-primary-black flex">
  <ul class="flex items-center">
  <li><a href="https://se.linkedin.com/company/nodcoding"><Linkedin width="60" height="20"/></a></li>
  <li><a href="https://www.youtube.com/@nodcoding"><Youtube width="60" height="30"/></a></li>
  </ul>
  <ul class="flex items-center gap-10">
    <li class="uppercase"><a>Cookie Policy</a></li>
    <li class="uppercase"><a>Privacy Policy</a></li>
    <li><p>2024 © by Kåd Nod AB</p></li>
    <li><a href="https://waaark.com/"><WrLogo width="44" height="16"/></a></li>
  </ul>
</footer>
